
.vs/PokeTools/DesignTimeBuild/.dtbcache

.vs/PokeTools/v16/.suo

*.ide

*.testlog

*.manifest

*.lock

*.ide-shm

*.ide-wal

*.cache

*.dll

*.exe

*.pdb

*.baml

*.resources

DamageCalculator/obj/Debug/netcoreapp3.0/MainWindow.g.i.cs

DamageCalculator/obj/Debug/

*.db
